$houses: baratheon, greyjoy, lannister, martell, stark, tyrell;

.footman {
  width: 80px;
  height: 89px;

  @each $house in $houses {
    &--#{$house} {
      background: url("/images/units/footman/#{$house}.png");
    }
  }
}

.knight {
  width: 80px;
  height: 97px;

  @each $house in $houses {
    &--#{$house} {
      background: url("/images/units/knight/#{$house}.png");
    }
  }
}

.ship {
  width: 100px;
  height: 83px;

  @each $house in $houses {
    &--#{$house} {
      background: url("/images/units/ship/#{$house}.png");
    }
  }
}

.siege {
  width: 80px;
  height: 97px;

  @each $house in $houses {
    &--#{$house} {
      background: url("/images/units/siege-engine/#{$house}.png");
    }
  }
}

.card {
  width: 300px;
  height: 472px;

  &__back {
    @each $house in $houses {
      &--#{$house} {
        background: url("/images/cards/#{$house}-card-cover.png");
      }
    }
  }

  &__brienne {
    background: url("/images/cards/baratheon-brienne.png");
  }
}

.wildings_token {
  background: url("/images/tokens/wilding.png");
  width: 80px;
  height: 80px;
}

.round_token {
  background: url("/images/round-marker.png");
  width: 100px;
  height: 80px;
}

.influence_token {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #ffc800;

  @each $house in $houses {
    &--#{$house} {
      background-image: url("/images/tokens/influence/#{$house}.png");
      background-size: 100%;
    }
  }
}

.supply_token {
  width: 71px;
  height: 90px;

  @each $house in $houses {
    &--#{$house} {
      background-image: url("/images/tokens/supply/#{$house}.png");
      background-size: 100%;
    }
  }
}

.victory_token {
  width: 90px;
  height: 76px;

  @each $house in $houses {
    &--#{$house} {
      background-image: url("/images/tokens/victory/#{$house}.png");
      background-size: 100%;
    }
  }
}
