.war-room {
  width: 40vw;

  &__actions {
    display: flex;
    justify-content: center;
  }

  &__inventory {
    display: flex;
    flex-wrap: wrap;
  }

  .draggable {
    position: static;
  }
}
