.app {
  font-size: calc(10px + 2vmin);
}

.draggable {
  position: absolute;
  z-index: 1;
}

.piece {
  width: 32px;
  height: 32px;
  background-color: #999999;
  margin: 1px;
  text-align: center;
}

.ui {
  &__action {
    position: absolute;
    z-index: 1;
    margin: 5px;
  }
}
