.app {
  font-size: calc(10px + 2vmin);
}

.draggable {
  position: absolute;
  z-index: 1;
}

.ui {
  &__actions-bar {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    z-index: 1;
    width: 100vw;
    box-sizing: border-box;
  }

  &__panel {
    background-color: rgba(0,0,0,.5);
    padding: 10px;
  }

  &__action {
    margin: 5px;
  }
}
