.app {
  font-size: calc(10px + 2vmin);
}

.draggable {
  position: absolute;
  z-index: 1;
  transition-property: top left;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.ui {
  &__top-bar {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    z-index: 1;
    width: 100vw;
    box-sizing: border-box;

    .ui__top-text {
      color: white;
    }
  }

  &__panel {
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    color: #ccc;

    &--centralized {
      position: absolute;
      width: 50vw;
      margin: 50vh 25vw;
    }
  }

  &__action {
    margin: 5px;
  }
}

.page {
  &__content {
    margin: 0 5em;
  }
}
